.breadcrumb {
    overflow: hidden;
}

.tm_bread_crumb {
    position: relative;
    display: inline-block;
    margin: 0 -15px;
    padding: 15px 20px;
    &:before {
        position: absolute;
        top: 0;
        right: -40px;
        width: 0;
        height: 0;
        border-width: 60px 0 0 40px;
        border-style: solid;
        border-color: transparent transparent transparent transparent;
        content: '';
        @extend %transit;
    }
    li {
        display: inline-block;
        margin-right: 6px;
        a:after {
            margin-left: 10px;
            content: "\f061";
            @extend %icon;
        }
        &:last-child {
            margin: 0;
        }
    }
}