.mw-480 {
    max-width: 480px !important;
    margin: 0 auto !important;
}

.mw-480-l {
    max-width: 480px !important;
}

.mw-500 {
    max-width: 500px !important;
    margin: 0 auto !important;
}

.mw-500-l {
    max-width: 500px !important;
}

.mw-560 {
    max-width: 560px !important;
    margin: 0 auto !important;
}

.mw-560-l {
    max-width: 560px !important;
}

.mw-560-r {
    max-width: 560px !important;
    margin-left: auto !important;
    margin-right: 0 !important;
}

.mw-600 {
    max-width: 600px !important;
    margin: 0 auto !important;
}

.mw-640 {
    max-width: 640px !important;
    margin: 0 auto !important;
}

.mw-670 {
    max-width: 670px !important;
    margin: 0 auto !important;
}

.mw-720 {
    max-width: 720px !important;
    margin: 0 auto !important;
}

.mw-790 {
    max-width: 790px !important;
    margin: 0 auto !important;
}

.mw-790-l {
    max-width: 790px !important;
}

.mw-800 {
    max-width: 800px !important;
    margin: 0 auto !important;
}

.mw-1900 {
    max-width: 1900px !important;
    margin: 0 auto !important;
}

.wpb_single_image.img-w100 {
    figure {
        width: 100%;
        .vc_single_image-wrapper {
            width: 100%;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}